:root {
--title-color: #2E2F42;
--main-text-color: #FFFFFF;
--second-text-color: #434455;
--links:#4D5AE5;
--hover-link:#404BBF;
--light-white:#F4F4FD;



}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--second-text-color);
    background-color: var(--main-text-color);
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}
    



    
/*-------HEADER*-----*/

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc ;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--links);
    margin-right: 76px;
}



   .studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-right: 76px;
   }
   
    .link {
        text-decoration: none;
    }
    
    
.list {
    list-style: none;
}
    a {
        text-decoration: none;
    }
    ul{
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    img {
        display: block;
    }


    .container {
        width: 100%;
        max-width: 1158px;
        padding: 0 15px 0 15px;
        margin-left: auto;
        margin-right: auto;
        /*outline: 2px solid red;*/
    }

    .header-menu {
        display: flex;
        margin-left: 76px;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
        
        
    }
    .header-menu-item {
    padding-top: 24px;
    padding-bottom: 24px;
        )
    }
    .header-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--title-color);
        letter-spacing: 0.02em;}
        
    
    .header-menu-link:hover, .header-menu-link:focus {
      color: var(--hover-link); 
    }
    .header-navigation {
        display: flex;
        align-items: center;
        flex-grow: 1;
        
    }
    .header-cont {
        display: flex;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
        padding: 0 15px 0 15px;
        
    }
    .address {
        font-style: normal;
    }
    .header-social {
        list-style: none;
        display: flex;
        gap: 40px;
       
    }
    .header-social-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--second-text-color);
    
    }
    .header-social-link:hover, .header-social-link:focus {
        color: var(--hover-link);
    }






    
/*------HERO----*/
    .hero {
        background: var(--title-color);
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .hero-cont {
        padding-top: 188px;
        padding-bottom: 292px;
        padding-left: 316px;
        padding-right: 316px;
     
        
    }
    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        width: 496px;
        text-align: center;
        max-width: 496px;
        margin-bottom: 48px;
       

    }
    
    .hero-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--main-text-color);
        cursor: pointer;
        background: var(--links);
        border: none;
        padding: 16px 32px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: block;
        min-width: 169px;

    }
    .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    }
    .hero-btn:hover, .hero-btn:focus {
    background: var(--hover-link);
    
    }

    /*---BENETITS----*/
    .benefits {
        padding-top: 120px;
        padding-bottom: 120px;
        
    }
    
    .benefits-list {
        display: flex;
        gap: 24px;
        padding-left: 0;
        
    }
    
    .benefits-item {
        
        width: calc((100% - 72px) / 4);
    }
    
    .benefits-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
        margin-bottom: 8px;
        }
    
        .benefits-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--second-text-color);
        }

        .section-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--title-color);
        }
        

        /*-----product----*/

        .product {
            padding-bottom: 120px;
        }
        .products-title {
        margin-bottom: 72px;
        }
        .product-images-list {    
        width: calc((100% - 48px) / 3);
        }
        .images {
            display: flex;
            gap: 24px;
           
        }

    /*-----TEAM----*/

            .team {
                background: var(--light-white);
                padding-top: 120px;
                padding-bottom: 120px;
            }
        
            .team-title {
              margin-bottom: 72px;  
            }

            .team-subtitle {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: var(--title-color);
                text-align: center;
                margin-bottom: 8px;
                
            }

            .team-text {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: var(--second-text-color);
                text-align: center;
                margin-bottom: 32px;
            }
        
            .team-list {
                display: flex;
                gap: 24px;
                padding-left: 0;
                
            }
            .sub-text-names {
                padding: 32px 16px;
            }
            .team-item {
                background: var(--main-text-color);
                width: calc((100% - 24px*3) / 4);
                border-radius: 0px 0px 4px 4px;
                
            }

/*----FOOTER---*/
.footer {
    background-color: var(--title-color) ;
    padding-top: 100px;
    padding-bottom: 100px;
    

}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--links);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
   
}
   
.studio-footer {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--light-white);
    text-transform: uppercase;
}


   
.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--light-white);
        width: 264px;
        margin-top: 16px;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-btn-list {
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: center;
    margin-bottom: 72px;
    
}

.portfolio-btn-item {
    
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.portf-btn {
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 24px ;
    border-radius: 4px;
    border: 1px solid #e7e9fc;

    
}

.portfolio-img-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    padding-bottom: 120px;
    row-gap: 48px;
   
    
}

.portfolio-img-item {
    border: 1px solid #E7E9FC;
    max-width: 360px;

}
.portf-cont-names {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--title-color);
letter-spacing: 0.02em;
margin-bottom: 8px;

}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    margin-bottom: 32px;
    
}
.portf-btn {
    font-family: "Roboto", sans-serif;
    color: var(--links);
    background: var(--light-white);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.portf-btn:hover {
background: var(--hover-link);
color: var(--main-text-color);
border: 1px solid transparent;
}
.portf-btn:focus {
    color: var(--main-text-color);
    background: var(--hover-link);
    border: 1px solid transparent;
}
